.common-sections-cards-with-links-careers3-links {
  position: relative;
}
.common-sections-cards-with-links-fragment1 {
  display: contents;
}
.common-sections-cards-with-links-fragment2 {
  display: contents;
}
.common-sections-cards-with-links-fragment3 {
  display: contents;
}

