.footer-column-title1-wrapper {
  display: contents;
}
.footer-column-title1-container {
  display: flex;
  position: relative;
}
.footer-column-title1-text {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}






.footer-column-title1-wrapper-2ieo {
  display: contents;
}
.footer-column-title1-container1 {
  display: flex;
  position: relative;
}
.footer-column-title1-text1 {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}






.footer-column-title1-wrapper-qno7 {
  display: contents;
}
.footer-column-title1-container2 {
  display: flex;
  position: relative;
}
.footer-column-title1-text2 {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}






.footer-column-title1-wrapper-hzuh {
  display: contents;
}
.footer-column-title1-container3 {
  display: flex;
  position: relative;
}
.footer-column-title1-text3 {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}






.footer-column-title1-wrapper-2kvn {
  display: contents;
}
.footer-column-title1-container4 {
  display: flex;
  position: relative;
}
.footer-column-title1-text4 {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}






.twitter-button1-wrapper {
  display: contents;
}
.twitter-button1-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.twitter-button1-frame5622 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 2px 20px;
  align-items: center;
  border-color: rgba(0, 172, 238, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
.twitter-button1-frame5626 {
  gap: 5px;
  display: flex;
  align-items: center;
}
.twitter-button1-twitterand-xlogossvg1 {
  width: 18px;
  height: 14px;
}
.twitter-button1-text {
  fill: rgba(0, 172, 238, 1);
  color: rgba(0, 172, 238, 1);
  font-size: 14px;
  font-family: "Arial";
  line-height: 24px;
}
.twitter-button1root-class-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer11-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #ffffff;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer11-main {
  flex: 0 0 auto;
  width: 1140px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 280px;
  margin-right: 280px;
  flex-direction: column;
}
.footer11-container2 {
  width: 1140px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer11-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer11-container4 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer11-link10 {
  display: contents;
}
.footer11-link11 {
  display: contents;
}
.footer11-text11 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link12 {
  display: contents;
}
.footer11-text12 {
  text-decoration: none;
}
.footer11-container5 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer11-link13 {
  display: contents;
}
.footer11-text13 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link14 {
  display: contents;
}
.footer11-text14 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link15 {
  display: contents;
}
.footer11-text15 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link16 {
  display: contents;
}
.footer11-text16 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link17 {
  display: contents;
}
.footer11-text17 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link18 {
  display: contents;
}
.footer11-text18 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-container6 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer11-link19 {
  display: contents;
}
.footer11-text19 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link20 {
  display: contents;
}
.footer11-text20 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link21 {
  display: contents;
}
.footer11-text21 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-container7 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer11-link22 {
  display: contents;
}
.footer11-text22 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link23 {
  display: contents;
}
.footer11-text23 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link24 {
  display: contents;
}
.footer11-text24 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link25 {
  display: contents;
}
.footer11-text25 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link26 {
  display: contents;
}
.footer11-text26 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-container8 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer11-link27 {
  display: contents;
}
.footer11-text27 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link28 {
  display: contents;
}
.footer11-text28 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-link29 {
  display: contents;
}
.footer11-text29 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-decoration: none;
}
.footer11-container9 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer11-image {
  width: 181px;
  height: 38px;
  object-fit: cover;
  text-decoration: none;
}
.footer11-text30 {
  fill: var(--dl-color-default-texttertiary);
  color: var(--dl-color-default-texttertiary);
  margin-top: 5px;
}

@media(max-width: 1536px) {
  .footer11-text30 {
    fill: #999998ff;
    color: #999998ff;
  }
}
